branches:
  except:
  - release
image: Visual Studio 2017
clone_depth: 1
platform: Any CPU
before_build:
- cmd: >-
    nuget restore src\NSwag.sln -NoCache
    dotnet restore src\NSwag.sln -NoCache
build:
  project: src\NSwag.sln
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  verbosity: minimal
test:
  categories:
    except:
    - integration
deploy_script:
- ps: "if ($env:APPVEYOR_REPO_BRANCH -eq \"Fixed_.Net_Core_Build\")\n{\n    $repo = \"https://api.bintray.com/nuget/aqovia/NuGetOSS\"\n\n    nuget sources Add -Name Bintray -Source $repo -UserName $env:BinTrayUserName -Password $env:BinTrayApiKey\n    nuget setapikey \"$($env:BinTrayUserName):$($env:BinTrayApiKey)\" -Source Bintray\n\n    $packages = Get-ChildItem -Recurse -Filter *.nupkg $env:TEMP \n    ForEach ($package in $packages)\n    {\n        nuget push $package.FullName -Source $repo\n    }\n}"

  